.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  footer {
    text-align: center;
    background-color: white;
    color :black;
  }
  footer a:link {
    color :black;
  }

  footer a:hover {
    color :blue;
  }
  
  
  